@{
    Layout = "";
}
@using Nop.Web.Framework;
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>After confirming your order, you will be redirected to the <a href='https://www.payfast.co.za/c/std/what-is-payfast'>PayFast</a> website.
PayFast is a payments processing service for South Africans and South African websites. PayFast enable easy, secure and instant transfer of money between online buyers and sellers.</b>
        </td>
    </tr>
</table>
